name: Build and Test Hunger Saviour

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        service: [api-gateway, user-service, restaurant-service, order-service, payment-service]
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    
    - name: Build ${{ matrix.service }}
      run: mvn -B clean package -DskipTests -pl ${{ matrix.service }} -am
    
    - name: Run tests for ${{ matrix.service }}
      run: mvn -B test -pl ${{ matrix.service }}
      continue-on-error: true
    
    - name: Upload artifacts
      uses: actions/upload-artifact@v3
      with:
        name: ${{ matrix.service }}-jar
        path: ${{ matrix.service }}/target/*.jar
        retention-days: 5

  docker-build:
    needs: build
    runs-on: ubuntu-latest
    if: github.event_name == 'push'
    
    strategy:
      matrix:
        service: [api-gateway, user-service, restaurant-service, order-service, payment-service]
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    
    - name: Build Docker image for ${{ matrix.service }}
      run: |
        docker build -f ${{ matrix.service }}/Dockerfile -t hunger-saviour-${{ matrix.service }}:${{ github.sha }} .
    
    - name: Save Docker image
      run: |
        docker save hunger-saviour-${{ matrix.service }}:${{ github.sha }} | gzip > ${{ matrix.service }}-image.tar.gz
    
    - name: Upload Docker image artifact
      uses: actions/upload-artifact@v3
      with:
        name: ${{ matrix.service }}-docker-image
        path: ${{ matrix.service }}-image.tar.gz
        retention-days: 5
